
@{
    ViewBag.Title = "Poczekalnia";
}

<h2>Poczekalnia</h2>
<div class="container kontenerMaterial">
    <div class="container">

        Pracownik:
        <select class="form-control" id="wyborLekarza">
            <option>Wybierz lekarza</option>
            @{
                foreach (var prac in ViewBag.Pracownicy)
                {
                    <option id="@prac.Id">@prac.Imie @prac.Nazwisko (@prac.Specjalizacja)</option>
                }
            }
        </select>
    </div>

    <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-7 col-sm-1 col-sm-offset-7 col-xs-2">
        <a id="opcje-terminarza-button">
            <img src="~/Content/Images/doctorIcon.png" alt="Opcje" class="img-responsive" />
        </a>
    </div>

</div>
<div class="row">
    <div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
        @* Treść ładowana AJAXem *@
        @Html.Partial("~/Views/Przychodnia/Poczekalnia/PoczekalniaPrzychodnia.cshtml")

    </div>


</div>

<script>
    $(document).ready(function () {
        var wyborLekarza = $("#wyborLekarza");
        var kontenerMaterialPortalPacjenta = $("#kontenerMaterialPortalPacjenta");

        wyborLekarza.change(function () {
            pobierzListeRezerwacji(wyborLekarza.children(":selected").attr("id"));
        });

        function pobierzListeRezerwacji(selectedID) {
            $.ajax({
                url: '@Url.Action("pobierzRezerwacje", "Poczekalnia")',
                data: {
                    pracID: selectedID
                },
                success: function (response) {
                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html(response);
                    });
                    kontenerMaterialPortalPacjenta.slideDown(300);
                },
                error: function () {
                    alert("Błąd połączenia z serwerem!");

                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html("");
                    });
                }
            });
        }
    })



</script>