
@{
    ViewBag.Title = "Poczekalnia";
}

<h2>Poczekalnia</h2>
<div class="container kontenerMaterial">
    <div class="container">
        <div id="terminarzDataKontener" class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
            Pracownik:
            <select class="form-control" onchange="pobierzTerminarz(dataRezerwacji)" id="wyborLekarzaPortalPacjenta">
                <option>Wybierz lekarza</option>
                @{
                    foreach (var prac in ViewBag.Pracownicy)
                    {
                        <option id="@prac.Id">@prac.Imie @prac.Nazwisko (@prac.Specjalizacja)</option>
                    }
                }
            </select>
        </div>

        <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-7 col-sm-1 col-sm-offset-7 col-xs-2">
            <a id="opcje-terminarza-button">
                <img src="~/Content/Images/doctorIcon.png" alt="Opcje" class="img-responsive" />
            </a>
        </div>

    </div>
</div>
<div class="row">
    <div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
        @* Treść ładowana AJAXem *@
        @Html.Partial("~/Views/Przychodnia/Poczekalnia/PoczekalniaPrzychodnia.cshtml")
        
    </div>
    

</div>

<script>
    $(document).ready(function () {



        //wczytanie elementów do zmiennej daje lepszą wydajność, gdyż tylko raz wyszukujemy po id
        var loaderKontener = $("#loader-kontener");
        var dataRezerwacji = $('#wybor-daty-terminarz').val();
        var kontenerMaterialPortalPacjenta = $('#kontenerMaterialPortalPacjenta');
        var opcjeTerminarzaDiv = $('#opcje-terminarza-okno');
        var terminarzDataKontener = $("#terminarzDataKontener");
        var czasTrwaniaWizyty = $("#term_czas_wiz");
        var ogolnyGrafik = $("#term_ogolny_graf_panel");
        var idywidualnyGrafik = $("#term_indw_graf_panel");
        var indwGrafCheckbox = $("#term_indw_graf");
        var menu = $("#menu");


        kontenerMaterialPortalPacjenta.css({
            "height": "100%",
            "visibility": "visible"
        });
        var oknoOpcjiTerminarza = {
            draggable: true,
            hide: { effect: "fade", duration: 250 },
            show: { effect: "fade", duration: 250 },
            resizable: false,
            autoOpen: false,
            width: "500px",
            title: "Opcje terminarza"
        };

        var oknoIndywidualnegoGrafika = {
            draggable: true,
            hide: { effect: "fade", duration: 250 },
            show: { effect: "fade", duration: 250 },
            resizable: false,
            autoOpen: false,
            title: "Zarządzanie godzinami pracy"
        };

        //--------------------------------- WYBÓR DATY -------------------------------------------------------------------------------------------------

        //wyświetla kalendarz przy wejściu w pole wyboru daty
        var wyborDatyTerminarz = $("#wybor-daty-terminarz");
        wyborDatyTerminarz.datepicker({
            dateFormat: "yy-mm-dd",
            changeYear: true
        });


        wyborDatyTerminarz.change(function () {
            dataRezerwacji = $('#wybor-daty-terminarz').val();
            var wzor = /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/;
            var parts = dataRezerwacji.split('-');

            if (!wzor.test(dataRezerwacji)) {
                alert("Wybierz datę z kalendarza");
                kontenerMaterialPortalPacjenta.slideUp(500);
                return;
            }
            pobierzTerminarz(dataRezerwacji);
        });

        function pobierzTerminarz(dataRezerwacji) {
            $.ajax({
                url: '@Url.Action("pobierzTerminarz", "Poczeklania")',
                data: {
                    wybranaData: dataRezerwacji
                },
                success: function (response) {
                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html(response);
                    });
                    kontenerMaterialPortalPacjenta.slideDown(300);
                },
                error: function () {
                    alert("Błąd połączenia z serwerem!");

                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html("");
                    });
                }
            });

        }
    });</script>