
@{
    ViewBag.Title = "SOPeL";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Przychodnia")
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("style",required:false)


</head>
<body style="padding: 0" id="bodyPrzychodnia" class="maxSzerokosc maxWysokosc">

    <div class="container-fluid maxWysokosc">
        <div class="maxWysokosc">
            <div class="sidebar" id="sidebarPrzychodnia">
                <div id="zwijaczMenu">&lt;&lt;</div>

                <ul id="navPortalPacjenta">
                    <li id="Terminarz-Sidebar">
                        <a href="@Url.Action("Index","Terminarz")" id="Terminarz">
                            <img class="img-responsive" src="~/Content/Images/unnamed.png" alt="Terminarz" />
                            <span>Terminarz</span>
                        </a>
                    </li>
                    <li id="wizyta-sidebar">
                        <a href="@Url.Action("Index","Poczekalnia")" id="Poczekalnia">
                            <img class="img-responsive" src="~/Content/Images/heart-checkup.png" alt="Wizyta" />
                            <span>Wizyta</span>
                        </a>
                    </li>
                    <li id="admin-sidebar">
                        <a href="@Url.Action("Index","Admin")" id="Admin">
                            <img class="img-responsive" src="~/Content/Images/admin.svg" alt="Admin" />
                            <span>Admin</span>
                        </a>
                    </li>
                    <li id="pacjenci-sidebar">
                        <a href="@Url.Action("Index","Pacjenci")" id="Pacjenci">
                            <img class="img-responsive" src="~/Content/Images/pacjenci.png" alt="Pacjenci" />
                            <span>Pacjenci</span>
                        </a>
                    </li>
                    <li id="home-sidebar">
                        <a href="@Url.Action("Index", "Home")" id="Home">
                            <img class="img-responsive" src="~/Content/Images/homeIcon.png" alt="główna" />
                            <span>Strona główna</span>
                        </a>
                    </li>
                </ul>

                <div id="przychodnia-sidebar-footer">
                    zalogowany
                </div>


            </div>
            <div id="PrzychodniaBodyKontener" class="maxWysokosc">
                <div id="renderBody">

                    @RenderBody()
                </div>
                <div class="wysrodkujCentralnie maxWysokosc maxSzerokosc ukryty" id="loader-kontener">
                    <img id="loader" src="~/Content/Images/loader.gif" alt="Wczytuję..." />
                </div>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Przychodnia")
    
    @RenderSection("scripts", required: false)

</body>
</html>
