@model SOPeL.Models.Uzytkownik

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Przychodnia")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body style="padding: 0">
    <div id="tlo">
        <div class="wysrodkujCentralnie">
            <div id="kartaLogowania">
                <form id="formularzKartyLogowania" method="post" action="@Url.Action("Logowanie")">
                    <div>
                        @Html.LabelFor(m => m.Login)
                        @Html.TextBoxFor(m => m.Login, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Login)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.Haslo)
                        @Html.PasswordFor(m => m.Haslo, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Haslo)
                    </div>

                    <div class="buttonFotterContainer">
                        <input type="submit" class="" value="Zaloguj" />
                        <input type="submit" class="" value="Anuluj" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script>

    </script>

</body>
</html>
