@model SOPeL.Models.Uzytkownik

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/reset")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/Main")
    <meta name="description" content="The description of my page" />
</head>
<body style="padding: 0">
    <div id="tlo">
        <div class="buttons-center">
            <div id="buttons" class="">
                <a class="przycisk" href="#">
                    <img src="~/Content/Images/PatientIcon.svg" alt="Ikona pacjenta" />
                    <span>Portal Pacjenta</span>
                </a>
                <a class="przycisk" href="/Przychodnia/Index">
                    <img src="~/Content/Images/DoctorIcon.svg" alt="Ikona doktora" />
                    <span>Przychodnia</span>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
