@*<script src="~/Scripts/terminarz.js"></script>*@
<div class="container kontenerMaterial">
    <div class="container">
        <div id="terminarzDataKontener" class="col-lg-4 col-md-4 col-sm-4 col-xs-10">
            <label for="wybor-daty-terminarz">Data</label>
            <input type="text" value="@DateTime.Now.Year-@string.Format("{0:00}", DateTime.Now.Month)-@string.Format("{0:00}", DateTime.Now.Day)" id="wybor-daty-terminarz" name="wybor-daty-terminarz" class="form-control datepicker" />
        </div>

        <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-7 col-sm-1 col-sm-offset-7 col-xs-2">
            <a id="opcje-terminarza-button">
                <img src="~/Content/Images/opcje.svg" alt="Opcje" class="img-responsive" />
            </a>
        </div>

    </div>
</div>
<div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
    @* Treść ładowana AJAXem *@
    @Html.Partial("~/Views/Przychodnia/Terminarz/TerminarzPrzychodnia.cshtml")
</div>

@*@Html.Partial("_KartaRezerwacjiPrzychodnia")*@

@*-----------------------------------------------Okno z opcjami terminarza--------------------------------------------------------------------------------------------*@
<div id="opcje-terminarza-okno" class="kontenerMaterial display-none">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="godziny_pracy">
            <div id="term_ogolny_graf_panel">
                <fieldset>
                    <legend>Grafik przychodni</legend>
                    <label for="term-godz-pracy-od"> od </label> <input size="4" type="time" name="term_godz_od" id="term_godz_od" />
                    <label for="term-godz-pracy-do"> do </label> <input size="4" type="time" name="term_godz_do" id="term_godz_do" />

                    <div class="row">
                        <label for="czas-trwania-wyzyty">Czas trwania wizyty (min): </label><input type="number" maxlength="2" max="60" min="1" name="term_czas_wiz" id="term_czas_wiz" />
                    </div>
                </fieldset>
            </div>

            @*<div id="term_indw_graf_panel">
                <fieldset>
                    <legend>Grafik pracownika</legend>
                    <div class="row">
                        Pracownik:
                        <select class="form-control" onchange="wybranoLekarza()" id="wyborLekarzaPortalPacjenta">
                            <option>Wybierz lekarza</option>
                            @{
                                foreach (var prac in ViewBag.Pracownicy)
                                {
                                    <option id="@prac.Id">@prac.Imie @prac.Nazwisko (@prac.Specjalizacja)</option>
                                }
                            }
                        </select>
                        <table>
                            <tr>
                                <td>Poniedziałek:</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Wtorek:</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Środa:</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Czwartek</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Piątek</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Sobota:</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                            <tr>
                                <td>Niedziela:</td>
                                <td><input size="4" type="time" name="" id="" /></td>
                                <td><input size="4" type="time" name="" id="" /></td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>*@

            <div class="row">
                <input type="checkbox" name="term_indw_graf" id="term_indw_graf" /> Osobny grafik dla każdego pacownika
            </div>
        </div>

        <button id="opcje-terminarza-zapisz-button" class="btn btn-primary" type="button">Zapisz</button>
        <button id="opcje-terminarza-anuluj-button" class="btn btn-danger" type="button">Anuluj</button>

    </div>
</div>

<div id="menu" style="display:none">
    <a href="#">Umów pacjenta</a>
    <hr />
    <a href="#">Usuń termin</a>
    <hr />
    <a href="#">Inne wizyty w tym terminie</a>
</div>

<script>
    $(document).ready(function () {



        //wczytanie elementów do zmiennej daje lepszą wydajność, gdyż tylko raz wyszukujemy po id
        var loaderKontener = $("#loader-kontener");
        var dataRezerwacji = $('#wybor-daty-terminarz').val();
        var kontenerMaterialPortalPacjenta = $('#kontenerMaterialPortalPacjenta');
        var opcjeTerminarzaDiv = $('#opcje-terminarza-okno');
        var terminarzDataKontener = $("#terminarzDataKontener");
        var czasTrwaniaWizyty = $("#term_czas_wiz");
        var ogolnyGrafik = $("#term_ogolny_graf_panel");
        var idywidualnyGrafik = $("#term_indw_graf_panel");
        var indwGrafCheckbox = $("#term_indw_graf");
        var menu = $("#menu");


        kontenerMaterialPortalPacjenta.css({
            "height": "100%",
            "visibility": "visible"
        });
        var oknoOpcjiTerminarza = {
            draggable: true,
            hide: { effect: "fade", duration: 250 },
            show: { effect: "fade", duration: 250 },
            resizable: false,
            autoOpen: false,
            width: "500px",
            title: "Opcje terminarza"
        };

        var oknoIndywidualnegoGrafika = {
            draggable: true,
            hide: { effect: "fade", duration: 250 },
            show: { effect: "fade", duration: 250 },
            resizable: false,
            autoOpen: false,
            title: "Zarządzanie godzinami pracy"
        };

        //--------------------------------- WYBÓR DATY -------------------------------------------------------------------------------------------------

        //wyświetla kalendarz przy wejściu w pole wyboru daty
        var wyborDatyTerminarz = $("#wybor-daty-terminarz");
        wyborDatyTerminarz.datepicker({
            dateFormat: "yy-mm-dd",
            changeYear: true
        });


        wyborDatyTerminarz.change(function () {
            dataRezerwacji = $('#wybor-daty-terminarz').val();
            var wzor = /^[0-9]{4}-[0-9]{2}-[0-9]{2}$/;
            var parts = dataRezerwacji.split('-');

            if (!wzor.test(dataRezerwacji)) {
                alert("Wybierz datę z kalendarza");
                kontenerMaterialPortalPacjenta.slideUp(500);
                return;
            }
            pobierzTerminarz(dataRezerwacji);
        });

        function pobierzTerminarz(dataRezerwacji) {
            $.ajax({
                url: '@Url.Action("pobierzTerminarz", "Terminarz")',
                data: {
                    wybranaData: dataRezerwacji
                },
                success: function (response) {
                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html(response);
                    });
                    kontenerMaterialPortalPacjenta.slideDown(300);
                },
                error: function () {
                    alert("Błąd połączenia z serwerem!");

                    kontenerMaterialPortalPacjenta.slideUp(300, function myfunction() {
                        kontenerMaterialPortalPacjenta.html("");
                    });
                }
            });
        }

        //--------------------------------- END WYBÓR DATY -------------------------------------------------------------------------------------------------



        //--------------------------------- OPCJE TERMINARZA -------------------------------------------------------------------------------------------------

        $("#opcje-terminarza-button").click(function () {
            loaderKontener.switchClass("ukryty", "widoczny", 150, "swing");
            opcjeTerminarzaDiv.css("display", "block");
            $.ajax({
                url: '@Url.Action("pobierzOpcjeTerminarza", "Terminarz")',
                type: "POST",
                success: function (response) { //resposne to słownik sparsowany do jsona, klucz to nazwa opcji w bazie
                    loaderKontener.switchClass("widoczny", "ukryty", 150, "swing");

                    //ładowanie wartości opcji odczytanych z bazy do formularza opcji terminarza
                    for (opcja in response) {
                        $("#" + opcja).val(response[opcja]);
                    }
                    console.log(response['term_indw_graf']);
                    console.debug();

                    //jeżeli włączona jest opcja indywidualnego grafika to ukryj ogolny grafik i pokaż ust indywidualnych grafików
                    if (response['term_indw_graf'] == '1') {
                        indwGrafCheckbox.attr("checked", true);
                        idywidualnyGrafik.switchClass("ukryty", "widoczny", 150, "swing");
                        ogolnyGrafik.switchClass("widoczny", "ukryty", 150, "swing");

                    }
                    else {
                        indwGrafCheckbox.attr("checked", false);
                        idywidualnyGrafik.switchClass("widoczny", "ukryty", 150, "swing");
                        ogolnyGrafik.switchClass("ukryty", "widoczny", 150, "swing");
                    }

                    opcjeTerminarzaDiv.dialog(oknoOpcjiTerminarza).dialog("open");
                },
                error: function () {
                    alert("Błąd połączenia z serwerem!");
                    loaderKontener.switchClass("widoczny", "ukryty", 150, "swing");
                }
            });
        });

        //Kontrola wartości wpisywanych przez użytkownika
        czasTrwaniaWizyty.keyup(function () {
            if ($(this).val().length > 1 && $(this).val().substring(0, 1) == '0') {//jeżeli poda zero na początku to wycina zero i zostawia pozostałe cyfry
                $(this).val($(this).val().substring(1));
            }
            else if ($(this).val() > 60) {// jeżeli wpisze wartość większą niż 60 to ustawi 60
                $(this).val('60');
            }
            else if ($(this).val() < 1) {// jeżeli wpisze wartość mniejszą niż 1 to ustawi 0
                $(this).val('0');
            }
        });
        czasTrwaniaWizyty.focusout(function () {
            if ($(this).val().trim() === '' || $(this).val() < 1) {//jeżeli nic nie wpisze, wpisze 0 lub wpisze coś innego niż cyfra to wstawi 1
                $(this).val('1');
            }
        });

        //Zmiana opcji z grafiku przychodni na osobne grafiki dla każdego pracownika
        indwGrafCheckbox.change(function () {
            if ($(this).is(':checked')) {
                $(this).val("1");//value ustawiany jest po to, aby zapisać stan opcji do bazy
                idywidualnyGrafik.switchClass("ukryty", "widoczny", 150, "swing");
                ogolnyGrafik.switchClass("widoczny", "ukryty", 150, "swing");
            }
            else {
                $(this).val("0");//value ustawiany jest po to, aby zapisać stan opcji do bazy
                idywidualnyGrafik.switchClass("widoczny", "ukryty", 150, "swing");
                ogolnyGrafik.switchClass("ukryty", "widoczny", 150, "swing");
            }
        });

        $("#opcje-terminarza-zapisz-button").click(function () {
            loaderKontener.switchClass("ukryty", "widoczny", 150, "swing");
            var dict = {};
            $("#opcje-terminarza-okno input").each(function (i, val) {
                alert(val.id);
                dict[$(this).attr("id")] = $(this).val();
            });


            $.ajax({
                url: '@Url.Action("zapiszOpcjeTerminarza", "Terminarz")',
                type: 'POST',
                data: {
                    opcj: dict
                },
                success: function (response) {
                    loaderKontener.switchClass("widoczny", "ukryty", 150, "swing");
                    opcjeTerminarzaDiv.dialog("close");
                    pobierzTerminarz(dataRezerwacji);
                },
                error: function () {
                    loaderKontener.switchClass("widoczny", "ukryty", 150, "swing");
                    alert("Error");
                }
            });
        });

        $("#opcje-terminarza-anuluj-button").click(function () {
            opcjeTerminarzaDiv.dialog("close");
        });

        //--------------------------------- END OPCJE TERMINARZA -------------------------------------------------------------------------------------------------


        //--------------------------------- OBSŁUGA CONTEXT MENU -------------------------------------------------------------------------------------------------

        //Wywołanie okienka z menu,
        $(".panel-rezerwacji").contextmenu(function (event) {
            event.preventDefault();// zablokowanie domyślej obsługi zdarzenia ppm

            menu.css({
                "width": "200px",
                "position": "fixed",
                "background": "white",
                "top": event.pageY - $(window).scrollTop(), //od relatywnej pozycji kliknięcia względm dokumenty należy odjąć ilość px o które ktrona jest scrollowana żeby box wyświetlał się w miejscu kliknięcia
                "border-radius": "5px",
                "box-shadow": "1px 1px 5px black",
                "padding": "20px",
                "left": event.pageX
            });

            menu.slideDown(200);
        });

        //var nadMenu = true;

        //menu.mouseenter(function (event) {
        //    nadMenu = true;
        //});

        //menu.mouseleave(function (event) {
        //    nadMenu = false;
        //});

        ////zamknięcie okienka po poruszeniu myszki poza context
        //$(document).mousemove(function (event) {
        //    $("#przychodnia-sidebar-footer").text(nadMenu);
        //    if (!nadMenu) {
        //        menu.hide();
        //    }
        //});

        //--------------------------------- END OBSŁUGA CONTEXT MENU -------------------------------------------------------------------------------------------------

    });
</script>
