
@{
    ViewBag.Title = "SOPeL";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Layout")
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("style", required: false)


</head>
<body style="padding: 0" id="bodyPrzychodnia" class="maxSzerokosc maxWysokosc">

    <div class="container-fluid maxWysokosc">
        <div class="maxWysokosc">
            <div class="sidebar" id="sidebarPrzychodnia">
                <div id="zwijaczMenu">&lt;&lt;</div>

                @Html.Action("getSidebar")

                <div id="przychodnia-sidebar-footer">
                    zalogowany
                </div>


            </div>
            <div id="PrzychodniaBodyKontener" class="maxWysokosc">
                <div id="renderBody">

                    @RenderBody()

                </div>
                <div class="wysrodkujCentralnie maxWysokosc maxSzerokosc ukryty" id="loader-kontener">
                    <img id="loader" src="~/Content/Images/loader.gif" alt="Wczytuję..." />
                </div>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Przychodnia")

    @RenderSection("scripts", required: false)

</body>
</html>
