@model SOPeL.Models.Rezerwacja

<div id="kartaRezerwacjiWizyty" class="kontenerOkienka">
    <form id="formularzkartaRezerwacjiWizyty" method="post" action="@Url.Action("zatwierdzenieRezerwacji")" onsubmit="return zatwierdzKarteRezerwacji()">
        <div class="row"> 
            <div id="kartaRezerwacjiWizytyDane">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.Imie)
                    @Html.TextBoxFor(m => m.Pacjent.Imie, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Pacjent.Imie)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.Nazwisko)
                    @Html.TextBoxFor(m => m.Pacjent.Nazwisko, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Pacjent.Nazwisko)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.Pesel)
                    @Html.TextBoxFor(m => m.Pacjent.Pesel, new { @class = "form-control", @onkeyup = "walidujKarteRezerwacji()", @autocomplete = "off" })
                    <span class="errorMessage" id="peselErrorMessageSpan"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.DokumentTozsamosci)
                    @Html.TextBoxFor(m => m.Pacjent.DokumentTozsamosci, new { @class = "form-control", @autocomplete = "off", @placeholder = "np. ABC123456", @onkeyup = "walidujKarteRezerwacji()" })
                    <span class="errorMessage" id="dokTozsamosciErrorMessageSpan"></span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.Telefon)
                    @Html.TextBoxFor(m => m.Pacjent.Telefon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Pacjent.Telefon)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.Pacjent.Email)
                    @Html.TextBoxFor(m => m.Pacjent.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Pacjent.Email)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.godzOd)
                    @Html.TextBoxFor(m => m.godzOd, new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.godzOd)
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @Html.LabelFor(m => m.DataRezerwacji)
                    @Html.TextBoxFor(m => m.DataRezerwacji, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly" })
                    @Html.ValidationMessageFor(m => m.DataRezerwacji)
                </div>
            </div>
            <div id="kartaRezerwacjiWizytyZdjeciePacjenta" class="hidden-xs">
                <img class="img-responsive" src="~/Content/Images/userIcon.png" />
            </div>
            @Html.TextBoxFor(m => m.Id, new { @type = "hidden" })
            @Html.TextBoxFor(m => m.Pacjent.Plec, new { @type = "hidden" })

        </div>
        <div class="" id="kartaRezerwacjiWizytyButtonKontener">
            <input type="submit" id="zapiszOknoRezerwacjiButton" onclick="zapiszOknoRezerwacji" class="col-lg-offset-4 col-lg-2 col-md-offset-4 col-md-2 col-sm-offset-4 col-sm-2" value="Zapisz" />
            @{ if (ViewBag.edycjaWizyty == true)
                {
                    <input type="submit" class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2" name="submitButton" value="Usuń" />
                }
            }
            <input type="button" id="zamknijOknoRezerwacjiButton" onclick="zamknijOknoRezerwacji()" class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2" value="Anuluj" />
        </div>
    </form>
</div>

<script>    
    /// <reference path="jquery-3.1.1.js" />

    function zamknijOknoRezerwacji() {
        $("#kartaRezerwacjiWizytyKontener").hide();
    }

    function zapiszOknoRezerwacji() {

    }
    
</script>