@model IEnumerable<SOPeL.Models.Pacjent>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUrodzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DokumentTozsamosci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUrodzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DokumentTozsamosci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Usun", "UsunPacjenta", new { id = item.ID })
            </td>
        </tr>
    }

</table>

