<table class="table table-borderer terminarz">
    <tr>
        <td></td>
        @{
                int iloscPracowników = ViewBag.Pracownicy.Count;
    
                foreach (var prac in ViewBag.Pracownicy)
                {
                <td class="panelNazwyPracownika">@prac.Imie @prac.Nazwisko</td>
            }
        }
    </tr>
    @{
        TimeSpan time = new TimeSpan(8, 0, 0);
        for (int i = 0; i < 24; i++)
        {
            string timeString = string.Format("{0:00}", time.Hours) + ":" + string.Format("{0:00}", time.Minutes);
            <tr>
                <td class="terminarzPanelGodzin">@timeString</td>

                @{
                    for (int y = 0; y < iloscPracowników; y++)//Tworzy kolumnę dla każdego pracownika z terminem co 30 min
                    {
                        bool rezerwacjaIstnieje = false;
                        string nazwiskoPacjenta = "";
                        string imiePacjenta = "";

                        foreach (var item in ViewBag.Rezerwacje)
                        {
                            if (item.GodzinaRezerwacji == timeString)
                            {
                                rezerwacjaIstnieje = true;
                                nazwiskoPacjenta = item.Pacjent.Nazwisko;
                                imiePacjenta = item.Pacjent.Imie;
                                break;
                            }
                        }
                        if (rezerwacjaIstnieje)
                        {
                            <td id="@ViewBag.Pracownicy[y].Id-@timeString-" class="teminarzaPanelRezerwacjiBrakTerminu">
                              
                            </td>
                            rezerwacjaIstnieje = false;
                        }
                        else
                        {
                            <td id="@ViewBag.Pracownicy[y].Id-@timeString" class="teminarzaPanelRezerwacji">Wolny termin</td>
                        }
                    }
                }
            </tr>
                        time = time.Add(new TimeSpan(0, 30, 0));
                    }
    }
</table>
<script src="~/Scripts/terminarz.js"></script>
