@model SOPeL.ViewModels.WydrukRecepty

<link href="~/Content/Recepta.css" rel="stylesheet" />

<table cellpadding="0" cellspacing="0" id="ReceptaBody">
    <tr>
        <td colspan="2">Recepta 0012330120302030123012</td>
    </tr>
    <tr>
        <td colspan="2" class="dane-swiad">
            Sopel S.A. <br />
            ul. Lekarska 4/32, 60-400 Poznań <br />
            REGON: 223992423, NIP: 12345678 <br />
            Nr umowy: 150001212/12/12/2/1231242142<br /><br />
            <img width="200" height="15" src="~/Content/Images/code128bar.jpg" /><br />
            Świadczeniodawca
        </td>
    </tr>
    <tr>
        <td rowspan="2" class="border-right">
            Pacjent <br />
            <span class="pacjent-dane">
                @Model.Pacjent.Imie @Model.Pacjent.Nazwisko<br />
                ul. Kilińskiego 9c/5 <br />
                74-200 Pyrzyce <br />
            </span>
            PESEL: <span class="pac-nr-pesel">@Model.Pacjent.Pesel</span>
        </td>
        <td class="oddzial-nfz border-left text-center">
            Oddział NFZ <br />
            <span class="oddzial-nfz-nr">15</span>
        </td>
    </tr>
    <tr>
        <td class="uprawnienia-dodatkowe border-left text-center">
            Uprawnienia <br />
            dodatkowe <br />
            <span class="uprawnienie-dodatkowe">X</span>
        </td>
    </tr>
    <tr style="padding:0">
        <td>Rp</td>
        <td>Odpłatność</td>
    </tr>

    @for (int i = 0; i < 5; i++)
    {
        if (i < Model.Leki.Length)
        {

            var lek = @Model.Leki[i];

                <tr>
                    <td class="lek lek">@lek</td>
                    <td class="odplatnosc odplatnosc5">100%</td>
                </tr>
        }
        else
        {
            <tr>
                <td class="lek lek"></td>
                <td class="odplatnosc odplatnosc5"></td>
            </tr>
        }
    }
    <tr>
        <td class="kod-numeru-recepty text-center" colspan="2">
            <br />

            <img width="300" height="15" src="~/Content/Images/code128bar.jpg" />
            <br />
            Numer recepty
        </td>
    </tr>
    <tr>
        <td class="data-wystawenia border-right">
            Data wystawienia: <br />
            @DateTime.Today.ToString("yyyy-MM-dd")
        </td>
        <td class="dane-lekarza border-left text-center" rowspan="2">
            Dane i podpis lekarza <br />
            @Model.Pracownik.TytulNaukowy @Model.Pracownik.Imie @Model.Pracownik.Nazwisko<br />
            PWZ: @Model.Pracownik.PWZ <br />
            <i>Wydruk własny</i>
        </td>
    </tr>
    <tr>
        <td class="data-realizacji border-right">
            Data realizacji "od dnia": <br />
            <i>@DateTime.Today.ToString("yyyy-MM-dd")</i>
        </td>
    </tr>
</table>