@model SOPeL.Models.Uzytkownik

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Layout")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body style="padding: 0">
    <div id="tlo">
        <div class="wysrodkujCentralnie">
            <div id="kartaLogowania" class="kontenerOkienka">

                <form id="formularzKartyLogowania" class="form-horizontal" method="post" action="@Url.Action("Logowanie")">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Login, new { @class = "col-lg-2 col-md-2 control-label" })
                        <div class="col-lg-10 col-md-10">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Login)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Haslo, new { @class = "col-lg-2 col-md-2 control-label" })
                        <div class="col-lg-10 col-md-10">
                            @Html.PasswordFor(m => m.Haslo, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Haslo)
                    </div>

                    @Html.Partial("FormularzLogowania", Model)
                </form>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script>

    </script>

</body>
</html>
