u
@model List<SOPeL.Models.Pacjent>
@{
    ViewBag.Title = "Pacjenci";
    Layout = "~/Views/_Layout.cshtml";
}

@section style{
    @Styles.Render("~/Content/Pacjenci")
<style>
    #kartaRezerwacjiWizytyKontener {
    position: fixed;
    justify-content:center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

#kartaRezerwacjiWizyty {
    display:block;
    padding:20px;
    max-width: 700px;
}

#kartaRezerwacjiWizytyDane {
    float: left;
    width:80%;
}

#kartaRezerwacjiWizytyZdjeciePacjenta {
    float:left;
    width:20%;
}

#kartaRezerwacjiWizytyButtonKontener input{
    margin-top: 30px;
    margin-bottom: 10px;
}
    </style>

}


    <div> 
        <h2>Pacjenci</h2>
    </div>
<div class="">
    <div class="container">
        <div class="col-sm-4 col-xs-10">
            @using (Html.BeginForm())
            {
                <p>
                    Wyszukaj pacjenta @Html.TextBox("searchString")
                    <input type="submit" value="Szukaj" />
                </p>
            }
            <button id="dodajPacjenta">Dodaj pacjenta</button>
        </div>

        <div class="col-lg-1 col-lg-offset-7 col-md-1 col-md-offset-7 col-sm-1 col-sm-offset-7 col-xs-2">
            <a id="opcje-terminarza-button">
                <img src="~/Content/Images/pacjenci.png" alt="Pacjenci" class="img-responsive" />
            </a>
        </div>

    </div>
</div>


<div class="wysrodkujCentralnie" id="kartaRezerwacjiWizytyKontener">
    <div class="przychodnia">
        @Html.Partial("_KartaPacjenta", new SOPeL.Models.Pacjent())
    </div>
</div>




<div class="container kontenerMaterial" id="kontenerMaterialPortalPacjenta" style="padding:0">
    @* Treść ładowana AJAXem *@
    @Html.Partial("~/Views/Przychodnia/Pacjenci/PacjenciPrzychodnia.cshtml")

</div>


@section scripts{
    <script>
        //przekazanie linku do akcji pobierzTerminarz - tutaj bo nie można używać razor w zewnętrznych plikach
        var pobierzTerminarzAjax = '@Url.Action("pobierzTerminarz", "Terminarz")';
    </script>
    @Scripts.Render("~/Scripts/Pacjenci")
}
